.about {
background-color:#0A2850;
display: flex;
justify-content: space-between;
position: relative;
overflow: hidden;

}

.about__title {
    font-style: normal;
    font-size: 44px;
    max-width: 251px;
    font-weight: 500;
    padding-top: 100px;
    padding-left: 80px;
    margin: 0;
    z-index: 1;
    color:#ffffff;
    font-family: "Inter", Arial, sans-serif;

}

.about__content {
   display: flex;
   flex-direction: column;
   gap: 20px;
   z-index: 1;
   padding-top: 119px;
   padding-bottom: 173px;
   padding-right: 80px;
   max-width: 660px;


}

.about__paragraph {
   z-index: 1;
   color: #ffffff;
   font-size: 20px;
   font-weight: normal;
   line-height: 30px;
   margin: 0;
   font-family: "Noto Serif", "Times New Roman", serif;


}

.about__circle {
   top: -152px;
   left: -129px;
   position: absolute;
   z-index: 0;
   background-color: #2f80ed;
   width: 426px;
   height: 426px;
   border-radius: 50px;

}

.about__circle_animation_blurred {
   animation: pulsate 1.3s ease-in-out 0s infinite; 
}




@keyframes pulsate {
 0% {
    opacity: 0;
 }
   50% {
    opacity: 0.6;
   } 
   100% {
    transform: scale(1.2);
   }
}