.card {
    max-width: 600px;
    width: 50%;

}

.card__title {
    margin: 0;
    color: #ffffff;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    padding-bottom: 32px;
    font-size: 20px;

}

.card__list-item {
    display: flex;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-family: "Noto Serif", "Times New Roman", serif;
    margin-bottom: 16px;

}

.card__list-divider {
    flex-grow: 1;
    background-color: #ffffff;
    height: 1px;
    min-width: 3px;

}