.menu {
    /* background-color: #0a2750;
    background-image: url(../images/background_menu.svg);
    background-position: center;
    background-size: cover;
    background: no-repeat; */
    padding-bottom: 100px;
    padding-top: 100px;
    background: #0a2750 url(../images/background_menu.svg) no-repeat center/cover;

}

.menu__title {
    color: #ffffff;
    text-align: center;
    line-height: 52px;
    font-size: 44px;
    margin: 0 auto 24px;
    font-weight: 500;
    font-style: normal;
    font-family: "Inter", Arial, sans-serif;
    max-width: 780px;

}

.menu__subtitle {
    font-style: normal;
    font-weight: normal;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-size: 20px;
    color: #ffffff;
    line-height: 30px;
    max-width: 780px;
    text-align: center;
    margin: 0 auto 100px;
    padding-bottom: 100px;
}

.menu__cards {
    margin: 0;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    padding-left: 0;


}