.nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav__link {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: 0.5s ease-in-out;
}

.nav__links {
    align-items: center;
    display: flex;
    list-style: none;
    margin-left: 0px;
    padding-top: 30px;
    column-gap: 20px;
    padding-right: 80px;
    margin-bottom: 0;
}

.nav__link:hover {
    color: #2f80ed;
}